ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

body, html {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat';
  color: #000; }

* {
  box-sizing: border-box; }

main {
  padding-top: 80px; }

mark {
  background-color: transparent;
  color: #74b64a; }

h1 {
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: #fff;
  font-family: 'Playfair Display'; }

h2 {
  font-size: 40px;
  line-height: 66px;
  margin-bottom: 80px;
  margin-top: 0;
  font-family: 'Playfair Display'; }

h3 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 28px;
  font-family: 'Playfair Display'; }

.btn-green {
  min-width: 250px;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 15px 19px;
  border-radius: 40px;
  border: none;
  background: #74b64a;
  border-bottom: 5px solid #5b8f3a;
  cursor: pointer; }
  .btn-green:hover {
    box-shadow: 0 0 20px 1px #74b64a; }

.video-youtube__content {
  width: 985px;
  height: 590px; }

.video-youtube_overlay {
  margin: auto; }

.wrapper {
  margin-bottom: 50px; }

.btn-play {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: #74b64a;
  background-image: url("./../img/play.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .btn-play:hover {
    box-shadow: 0 0 15px 1px #74b64a; }

.border-box {
  width: 100%;
  max-width: 945px;
  border: 15px solid #74b64a;
  padding: 50px 55px; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger-item {
  display: none; }

.hamburger {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  position: relative; }

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: #74b64a;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 0; }

.bar2,
.bar3 {
  top: 13.5px; }

.bar3 {
  right: 0; }

.bar4 {
  bottom: 0; }

.hamburger3 .bar1 {
  transform-origin: 5%; }

.hamburger3 .bar4 {
  transform-origin: 5%; }

.checkbox3:checked + label > .hamburger3 > .bar1 {
  transform: rotate(45deg);
  height: 3px;
  width: 42px; }

.checkbox3:checked + label > .hamburger3 > .bar3 {
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent; }

.checkbox3:checked + label > .hamburger3 > .bar2 {
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent; }

.checkbox3:checked + label > .hamburger3 > .bar4 {
  transform: rotate(-45deg);
  height: 3px;
  width: 42px; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.header {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 1px 3px 1px #ddd; }

.navbar {
  width: 100%;
  margin: auto;
  max-width: 1000px; }
  .navbar > ul {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .navbar > ul > li {
      text-transform: uppercase;
      padding: 28px 15px; }
      .navbar > ul > li > a {
        position: relative;
        font-size: 14px;
        padding: 7px 0 8px;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        font-weight: 600;
        color: #171717;
        transition: all .3s; }
        .navbar > ul > li > a:hover {
          color: #74b64a; }
        .navbar > ul > li > a.active {
          border-color: #74b64a;
          color: #74b64a; }
          .navbar > ul > li > a.active::before {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            background: green;
            position: absolute;
            top: 14.5px;
            left: -8px; }
          .navbar > ul > li > a.active::after {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            background: green;
            position: absolute;
            top: 14.5px;
            right: -8px; }

.banner-one {
  background: url("./../img/banner-one-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 100px 0; }
  .banner-one-discription {
    max-width: 780px;
    width: 100%;
    margin: auto; }
    .banner-one-discription > p {
      font-size: 24px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 0; }
    .banner-one-discription > .btn-green {
      margin-left: auto;
      margin-right: 0;
      display: block;
      position: relative; }
      .banner-one-discription > .btn-green::before {
        content: '';
        background: url("./../img/btn-line.png") no-repeat;
        background-size: contain;
        display: block;
        width: 70px;
        height: 40px;
        position: absolute;
        left: -50px;
        top: 5px;
        transform: translate(-100%, -50%); }

.outlook {
  background: #fff;
  padding: 100px 0; }
  .outlook h2 {
    text-align: center; }
  .outlook-content {
    display: flex;
    justify-content: space-between; }
  .outlook-card {
    width: 25%;
    padding-right: 10px; }
    .outlook-card:nth-of-type(odd) img {
      transform: translate(15px, -10px); }
    .outlook-card:nth-of-type(even) img {
      transform: translate(5px, -7.5px); }
    .outlook-card-images {
      height: 70px;
      width: auto;
      background-color: #74b64a;
      margin-right: auto;
      margin-left: 0;
      display: inline-flex;
      margin-bottom: 20px; }
      .outlook-card-images > img {
        height: 100%;
        width: auto; }
    .outlook-card > p {
      margin: 0;
      font-weight: 500; }

.autobonus {
  padding: 100px 0;
  background: #f7f6f4; }
  .autobonus > .container {
    position: relative; }
  .autobonus h2 {
    max-width: 650px;
    padding: 44px 0;
    background: #f7f6f4;
    position: relative;
    z-index: 3; }
  .autobonus-images {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    max-width: 650px;
    height: auto; }
    .autobonus-images > img {
      display: block;
      width: 100%;
      height: auto; }
  .autobonus .border-box {
    position: relative;
    z-index: 1; }
    .autobonus .border-box > p {
      font-size: 24px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 50px; }
  .autobonus .btn-play {
    position: relative; }
    .autobonus .btn-play::after {
      content: '';
      background: url("./../img/btn-line2.png") no-repeat;
      background-size: contain;
      display: block;
      width: 40px;
      height: 70px;
      position: absolute;
      right: -50px;
      top: 5px;
      transform: translate(100%, -50%); }

.stats {
  padding: 100px 0;
  background: url("./../img/banner-one-bg.jpg") no-repeat center;
  background-attachment: fixed;
  overflow: hidden; }
  .stats > .container {
    position: relative; }
  .stats h2 {
    margin-bottom: 0;
    color: #fff;
    margin-left: auto;
    margin-right: 0;
    max-width: 465px;
    padding: 22px 0 22px 50px; }
  .stats .border-box {
    margin-left: auto;
    margin-right: 0;
    position: relative; }
    .stats .border-box::after {
      content: '';
      display: block;
      width: 210px;
      height: 210px;
      background: url("./../img/util.png") no-repeat center;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%); }
  .stats-images {
    width: 100%;
    max-width: 675px;
    position: absolute;
    top: 0;
    left: 15px; }
    .stats-images > img {
      width: 100%;
      height: auto; }
  .stats-list {
    width: 325px;
    margin-left: auto;
    color: #fff; }
    .stats-list > li {
      margin-bottom: 35px;
      position: relative;
      z-index: 1; }
      .stats-list > li:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        background: #74b64a;
        z-index: -1;
        left: -20px;
        top: 30px; }
      .stats-list > li:last-of-type {
        margin-bottom: 0; }
      .stats-list > li > span {
        font-size: 50px;
        line-height: 55px;
        font-weight: 800;
        font-family: 'Playfair Display'; }
        .stats-list > li > span > small {
          font-size: 20px;
          line-height: 0; }
      .stats-list > li > p {
        margin: 0;
        line-height: 26px;
        font-weight: 500; }

.banner-two {
  padding: 100px 0;
  background: #fff; }
  .banner-two h2 {
    text-align: center;
    position: relative; }
    .banner-two h2::after {
      content: '';
      display: block;
      position: absolute;
      background: url("./../img/arrow-right.png") no-repeat center;
      background-size: contain;
      width: 100px;
      height: 120px;
      right: 150px;
      top: 30px;
      transform: translate(50%, -50%); }
  .banner-two p {
    margin-left: 275px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Playfair Display'; }

.benefit {
  padding: 100px 0;
  background: url("./../img/benefit-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }
  .benefit > .container {
    position: relative; }
  .benefit h2 {
    color: #fff;
    margin: 0;
    padding: 21px 0 22px; }
  .benefit-images {
    position: absolute;
    right: 15px;
    top: 0;
    max-width: 475px;
    width: 100%; }
    .benefit-images > img {
      width: 100%;
      height: auto;
      display: block; }
  .benefit-list {
    display: flex;
    padding: 25px 0 30px; }
    .benefit-list:last-of-type {
      padding-bottom: 0; }
    .benefit-list-images {
      width: 40px;
      height: 40px;
      background: #74b64a;
      margin-right: 40px;
      margin-top: 2px; }
      .benefit-list-images > img {
        transform: translate(10px, -15px); }
    .benefit-list p {
      margin: 0;
      color: #fff; }

.ready {
  padding: 100px 0; }
  .ready > .container {
    position: relative; }
  .ready h2 {
    margin-bottom: 0;
    padding: 20px 0 20px 555px; }
  .ready-images {
    position: absolute;
    top: 0;
    left: 15px;
    max-width: 490px;
    width: 100%; }
    .ready-images > img {
      width: 100%;
      height: auto;
      display: block; }
  .ready .border-box {
    margin-left: auto;
    margin-right: 0;
    padding: 30px 0 30px 80px; }
  .ready-list {
    margin-left: 290px;
    display: flex;
    padding: 40px 0; }
    .ready-list > span {
      width: 45px;
      height: 45px;
      background: #74b64a;
      position: relative;
      line-height: 45px;
      font-size: 45px;
      margin-right: 45px; }
      .ready-list > span:before {
        content: '';
        display: block;
        width: 65px;
        height: 65px;
        border: 2px solid #74b64a;
        position: absolute;
        transform: translate(-12px, -12px); }
      .ready-list > span:after {
        content: '';
        display: block;
        width: 88px;
        height: 88px;
        border: 1px solid #74b64a;
        position: absolute;
        transform: translate(-23px, -68px);
        z-index: 1; }
      .ready-list > span > b {
        font-weight: 800;
        transform: translateX(29px);
        display: block;
        position: relative;
        z-index: 2;
        top: -7px;
        font-family: 'Playfair Display'; }
    .ready-list > p {
      margin-top: 17.5px;
      margin-bottom: 0;
      font-weight: 500; }

.application {
  padding: 100px 0;
  background: #f7f6f4; }
  .application > .container {
    position: relative; }
  .application-images {
    position: absolute;
    top: 75px;
    right: 15px;
    z-index: 1;
    max-width: 645px;
    width: 100%; }
    .application-images > img {
      width: 100%;
      height: auto;
      display: block; }

.form {
  width: 100%;
  max-width: 620px;
  border: 15px solid #74b64a;
  padding: 45px 70px 45px 35px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background: #f7f6f4; }
  .form .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px; }
  .form-input-box {
    padding: 0 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px; }
    .form-input-box > label {
      font-size: 12px;
      line-height: 24px; }
    .form-input-box > input {
      font-size: 14px;
      border-top: none;
      border-left: none;
      border-right: none;
      background: transparent;
      padding: 5px 0;
      line-height: 24px;
      font-weight: 500; }
  .form .btn-green {
    margin-bottom: 45px;
    margin-right: auto; }
  .form p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    position: relative; }
    .form p:before {
      content: '';
      display: block;
      width: 40px;
      height: 55px;
      position: absolute;
      background: url("./../img/form-btn-line.png") no-repeat center;
      background-size: contain;
      left: -70px;
      top: -32px; }

.product {
  padding: 100px 0 85px;
  background: #f7f6f4; }
  .product h2 {
    margin-bottom: 35px; }
  .product p {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 45px; }
  .product .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px; }
  .product-card {
    width: 33.3334%;
    padding: 15px; }
    .product-card-wrapper {
      border: 5px solid #74b64a;
      height: 100%;
      text-align: center;
      transition: .5s;
      background: #fff;
      display: flex;
      flex-direction: column; }
      .product-card-wrapper:hover {
        box-shadow: 0 0 5px 1px #74b64a;
        transform: scale(1.05); }
      .product-card-wrapper > p {
        padding: 0px 15px;
        margin: 0 0 25px;
        font-size: 18px;
        font-weight: 500; }
    .product-card-logo {
      margin: 25px auto;
      height: 90px;
      display: flex; }
      .product-card-logo > img {
        margin: auto;
        max-height: 100%;
        max-width: 90%;
        width: auto;
        height: auto; }
    .product-card-images {
      height: 125px;
      display: flex;
      overflow: hidden;
      margin-top: auto; }
      .product-card-images > img {
        margin: auto auto 0;
        height: 100%;
        width: auto; }

@media (max-width: 1199px) {
  .video-youtube__content {
    width: 800px;
    height: 450px; }
  h1 {
    font-size: 42px; }
  .autobonus-images {
    top: 110px;
    max-width: 460px; }
  .border-box {
    max-width: 760px; }
  .banner-two h2::after {
    right: 100px; }
  .stats-images {
    max-width: 475px; }
  .benefit-images {
    max-width: 335px; }
  .ready-list {
    margin-left: 120px; }
  .ready-images {
    max-width: 350px; }
  .application-images {
    top: 175px;
    max-width: 500px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .outlook-card > p > br {
    display: none; } }

@media (max-width: 991px) {
  .hamburger-item {
    display: block; }
  .navbar > ul {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50px;
    background: #fff;
    height: auto; }
    .navbar > ul.active {
      display: flex; }
    .navbar > ul > li {
      padding: 10px 15px; }
  main {
    padding-top: 50px; }
  .banner-one, .outlook, .autobonus, .stats, .banner-two, .benefit, .ready, .application {
    padding: 50px 0; }
  h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 25px; }
  h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px; }
  .video-youtube__content {
    width: 650px;
    height: 365px; }
  .wrapper {
    margin-bottom: 25px; }
  .outlook-content {
    flex-wrap: wrap; }
  .outlook-card {
    width: 50%;
    margin-bottom: 30px; }
  .autobonus-images, .stats-images, .benefit-images, .ready-images, .application-images {
    display: none; }
  .autobonus h2 {
    max-width: 100%;
    padding: 0;
    text-align: center; }
  .border-box {
    max-width: 90%;
    margin: auto;
    padding: 25px; }
  .stats h2 {
    text-align: center;
    padding: 0;
    margin: 0 auto 40px; }
  .stats .border-box {
    margin: auto; }
  .stats-list {
    margin: auto; }
  .stats-list > li {
    margin-bottom: 20px; }
  .stats .border-box::after {
    width: 150px;
    height: 150px; }
  .banner-two h2::after {
    right: 75px;
    width: 80px;
    height: 90px; }
  .banner-two p {
    margin-left: 25%; }
  .product {
    padding: 50px 0 35px; }
  .product-card {
    width: 50%; }
  .benefit h2 {
    margin: 0 0 40px;
    padding: 0;
    text-align: center; }
  .benefit-list {
    padding: 15px 0 20px; }
  .ready h2 {
    padding: 0;
    margin-bottom: 40px;
    text-align: center; }
  .ready .border-box {
    margin: auto;
    padding: 25px; }
  .ready-list {
    margin-left: 15px;
    padding: 20px 0; }
  .form {
    margin: auto; } }

@media (max-width: 767px) {
  .video-youtube__content {
    width: 540px;
    height: 300px; }
  h1 {
    font-size: 26px;
    line-height: 39px; }
  .banner-one-discription > p {
    font-size: 16px;
    margin-bottom: 20px; }
  .banner-two h2::after {
    right: 30px;
    width: 46px;
    height: 50px;
    top: 20px; }
  .btn-green {
    min-width: 190px;
    font-size: 10px;
    padding: 10px 5px;
    border-radius: 20px;
    border-bottom: 3px solid #5b8f3a; }
  h2 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 40px; }
  body {
    font-size: 14px; }
  .autobonus .border-box > p {
    margin-bottom: 25px; }
  .banner-two p {
    font-size: 18px; }
  .product p {
    font-size: 18px;
    margin: 0 0 25px; }
  .product-card-logo {
    margin: 10px auto;
    height: 60px;
    display: flex; }
  .product-card-images {
    height: 90px; }
  .form {
    padding: 15px; } }

@media (max-width: 575px) {
  .banner-one, .outlook, .autobonus, .stats, .banner-two, .benefit, .ready, .application {
    padding: 25px 0; }
  .video-youtube__content {
    width: 360px;
    height: 205px; }
  h1 {
    font-size: 16px;
    line-height: 28px; }
  .banner-one-discription > .btn-green::before {
    left: -5px; }
  h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px; }
  .outlook-card {
    width: 100%;
    text-align: center; }
  .border-box {
    border-width: 5px;
    width: 100%;
    padding: 15px; }
  .autobonus .border-box > p {
    margin-bottom: 15px;
    font-size: 16px; }
  .btn-play {
    width: 50px;
    height: 50px;
    background-size: 25%; }
  .autobonus .btn-play::after {
    width: 20px;
    height: 35px;
    right: -15px;
    top: 15px; }
  .stats h2 {
    margin-bottom: 20px; }
  .stats-list {
    width: 100%; }
  .stats-list > li > span {
    font-size: 38px;
    line-height: 44px; }
  .stats-list > li > p {
    line-height: 20px; }
  .stats-list > li:before {
    width: 30px;
    height: 30px;
    left: -15px;
    top: 25px; }
  .stats .border-box::after {
    width: 60px;
    height: 60px; }
  .banner-two h2::after {
    right: 20px;
    width: 40px;
    top: 10px;
    height: 50px; }
  .banner-two p {
    font-size: 16px; }
  .product h2 {
    margin-bottom: 20px; }
  .product p {
    font-size: 12px;
    margin: 0 0 10px; }
  .product-card {
    width: 90%; }
  .benefit h2 {
    margin-bottom: 20px; }
  .benefit-list-images {
    margin-right: 25px; }
  .benefit-list p {
    margin: 0;
    color: #fff;
    font-size: 12px; }
    .benefit-list p > br {
      display: none; }
  .ready h2 {
    margin-bottom: 20px; }
  .ready-list > span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    margin-right: 35px; }
  .ready-list > span:before {
    width: 45px;
    height: 45px;
    transform: translate(-10px, -10px); }
  .ready-list > span:after {
    width: 68px;
    height: 68px;
    transform: translate(-21px, -50px); }
  .ready .border-box {
    margin: auto;
    padding: 15px; }
  .ready-list > span > b {
    transform: translateX(20px);
    top: -4px; }
  .ready-list > p {
    margin-top: 10px;
    font-size: 12px; }
  .form {
    border-width: 5px; }
  h3 {
    font-size: 16px;
    margin-bottom: 20px; }
  .row {
    flex-wrap: wrap; }
  .form-input-box {
    width: 100%;
    margin-bottom: 20px; }
  .form p {
    font-size: 9px; }
  .form .btn-green {
    margin-bottom: 25px; }
  .form p:before {
    width: 25px;
    height: 40px;
    left: -40px;
    top: -14px; } }

/*# sourceMappingURL=style.css.map */
